[workspace]
members = [
    "programs/agent-registry-8004",
]
resolver = "2"

[profile.release]
opt-level = "z"
overflow-checks = false
lto = "fat"
codegen-units = 1
panic = 'abort'
strip = true

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1
